
<ul class="list-group">
  {{#each freebeesGot}}
    <a href="/freebees/{{id}}" class="list-group-item">

      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <img style="height:200px;width:500px"class="card-img-side" src="{{imageURL}}" alt="{{name}}">
          <h4 class="card-title">{{freebee_name}}</h4>
          <p class="card-text">Type: {{type}}</p>
          <p class="card-text">Company: {{name}}</p>
          <p class="card-text">Category: {{category}}</p>
          <p class="card-text">Date: {{date}}</p>
          <p class="card-text">Start Time: {{startTime}}</p>
          <p class="card-text">Stop Time: {{stopTime}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </a>
  {{/each}}
</ul>


<a type="button" class="btn btn-default btn-success" href="/freebees/new">New FreeBee</a>
<br>
<a type="button" class="btn btn-default btn-primary" href="/establishments">Go back to establishment page</a>
