
<ul class="list-group">
  {{#each freebeesGot}}
    <a href="/freebees/{{id}}" class="list-group-item">

      
      <h1>{{freebee_name}}</h1>
      <h2>At: {{name}}</h2>
      <h4>Type: {{type}}</h4>
      <h4>Category: {{category}}</h4>
      <h4>Date:  {{date}}</h4>
      <h4>Time:  {{time}}</h4>
    </a>
  {{/each}}
</ul>


<a type="button" class="btn btn-default btn-success" href="/freebees/new">New FreeBee</a>
<br>
<a type="button" class="btn btn-default btn-primary" href="/establishments">Go back to establishment page</a>
