

<ul class="list-group">
  {{#each usersGot}}
    <li class="list-group-item">

      <h1>Username: {{username}}</h1>
      <h4>Name: {{firstName}} {{lastName}}</h4>
      <h4>Age: {{age}}</h4>
      <h4>Sex: {{sex}}</h4>
    </li>
  {{/each}}
</ul>


<a type="button" class="btn btn-default btn-primary" href="/users/new">New user</a>
